:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 200;

  color: rgba(255, 255, 255, 0.87);
  text-transform: uppercase;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/src/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body--crew{
  background-image: url(/src/assets/crew/background-crew-desktop.jpg);
}
.body--destination{
  background-image: url(/src/assets/destination/background-destination-desktop.jpg);
}
.body--technology{
  background-image: url(/src/assets/technology/background-technology-desktop.jpg);
}
.body{
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: absolute;
  bottom: 0;
  margin-bottom: 6rem;
}

p{
  text-transform: lowercase;
}
@media (width < 1240px) {
  .body{
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    position: static;
    text-align: center;
  }
  body{
    background-image: url(/src/assets/home/background-home-tablet.jpg);
  }
  .body--crew{
    background-image: url(/src/assets/crew/background-crew-tablet.jpg);
  }
  .body--destination{
    background-image: url(/src/assets/destination/background-destination-tablet.jpg);
  }
  .body--technology{
    background-image: url(/src/assets/technology/background-technology-tablet.jpg);
  }
}
@media (width < 768px) {
  body{
    background-image: url(/src/assets/home/background-home-mobile.jpg);
  }
  .body--crew{
    background-image: url(/src/assets/crew/background-crew-mobile.jpg);
  }
  .body--destination{
    background-image: url(/src/assets/destination/background-destination-mobile.jpg);
  }
  .body--technology{
    background-image: url(/src/assets/technology/background-technology-mobile.jpg);
  }
}


