:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 200;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-transform: uppercase;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.body{
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: absolute;
  bottom: 0;
  margin-bottom: 6rem;
}

p{
  text-transform: lowercase;
}


