:root {
    --text: #b4b3d1;
    --role: #686565b2;
    --white: #fff;
}

.crew,
.destination,
.technology {
    margin: 100px 200px;
}

section>h3 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 100;
}

section>h3 span {
    color: rgb(101, 100, 100);
}

section>.info {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
}

.info>.images {
    width: 50%;
    height: min-content;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 40px 0;
}

.destination .info {
    flex-direction: row;
}

.images>img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}
.role{
    color: var(--role);
}
.info>.text {
    width: 40%;
    padding: 0 130px;
}

.text>h2 {
    font-size: 6rem;
    margin: 20px 0;
    font-weight: 100;
}

.text>p {
    color: var(--text);
    padding-bottom: 50px;
    /* text-wrap: balance; */
}

.another-info {
    display: flex;
}

footer {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.information__travel {
    width: 100%;
    margin-top: 20px;
}

.information__travel>span {
    color: var(--text);
    font-size: 14px;
}
.information__travel > p{
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
}
.technology .text,
.crew .text {
    padding: 0;
    width: auto;
}

.technology .role{
    font-size: 14px;
    color: var(--text);
}

.technology hr,
.crew hr {
    display: none;
}
.crew ul{
    position: absolute;
    bottom: 20px;
}

.technology .images,
.crew .images {
    width: 100%;
    height: 600px;
    margin: 0;
}

.technology img,
.crew img {
    width: 100%;
    object-fit: contain;
}
.technology h2,
.crew h2 {
    font-size: 4rem;
}
.technology .text > p,
.crew .text > p{
    width: 60%;
}
.nav__body ul{
    display: flex;
    gap: 20px;
    padding: 0;
}
.nav__body ul li{
    padding: 8px;
}
.destination .li__index{
    display: none;
}
.technology .li__name{
    display: none;
}
.crew .li__name,
.crew .li__index{
    display: none;
}
.crew li{
    gap: 20px;
    border-radius: 50%;
    background-color: var(--role);
}
.technology li{
    padding: 0 !important;
}
.li--active::after{
    content: none;
}
.crew .info{
    position: relative;
}
.crew .li--active{
    background-color: var(--white);
}
.technology .text{
    position: relative;
    padding-left: 150px;
}

.technology ul{
    position: absolute;
    left: 0;
    margin: 0;
    flex-direction: column;
}
.technology .li__index{
    padding: 0;
}
.technology .li__index{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: .5px solid var(--text);
    overflow: hidden;
}
.technology .li--active > .li__index{
    background-color: var(--white);
    color: #000;
}
.technology .info{
    gap: 40px;
}
