.text {
    width: 30%;
}


.text > span {
    font-size: 1.8rem;
    font-weight: 100;
}

.text strong {
    color: #fff;
    font-size: 10rem;
}

p {
    text-align: justify;
    letter-spacing: -1px;
}

.sources {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
@media (width < 1240px) {
    .text{
        width: 60%;
    }
    .text > p{
        text-align: center;
        line-height: 200%;
        padding-bottom: 100px;
    }
    .text > span{
        font-size: 1.5rem;
    }
    .sources{
        margin-top: 100px;
    }
}
@media (width < 768px) {
    .text strong{
        font-size: 5rem;
    }
}