nav{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2rem;
}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
figure{
    width: 40%;
}
ul{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    list-style: none;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    letter-spacing: 2px;
}
li{
    padding: 2rem;
    display: flex;
    gap: 10px;
    position: relative;
    cursor: pointer;
}
.li--active{
    cursor: default;
}
li:hover::after,
.li--active::after{
    content: '';
    width: 80%;
    border-top: 3px solid white;
    position: absolute;
    bottom: 0;
}
span{
    font-weight: bold;
}