nav{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2rem;
}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
figure{
    width: 40%;
}
ul{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50%;
    list-style: none;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    padding: 2rem;
    letter-spacing: 2px;
}
li{
    display: flex;
    position: relative;
    gap: 10px;
    cursor: pointer;
}
span{
    font-weight: bold;
}