.nav__header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2rem;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

figure {
    width: 40%;
}

.nav--desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    list-style: none;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    letter-spacing: 2px;
    padding: 0;
}

li {
    padding: 2rem;
    display: flex;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.li--active {
    cursor: default;
}

.nav__header li:hover::after,
li.li--active::after,
.destination li:hover::after,
.destination .li--active::after {
    content: '';
    width: 80%;
    border-top: 3px solid white;
    position: absolute;
    bottom: 0;
}

.nav__header--index {
    font-weight: bold;
}
.nav--responsive{
    display: none;
}
@media (width < 1240px) {
    .nav__header {
        padding: 0;
    }

    .nav__header ul {
        margin: 0;
        width: auto;
    }

    .nav__header ul li {
        padding: 2rem 20px;
    }

    .nav__header--index{
        display: none;
    }
}
@media (width < 768px) {
    .nav__header{
        justify-content: space-between;
    }
    .nav--responsive{
        display: block;
    }
    .nav--desktop{
        display: none;
    }
    ion-icon{
        font-size: 3rem;
        color: var(--white);
    }
    ion-icon:hover{
        color: var(--text);
    }
    .nav__ul--hide-responsive{
        display: block;
        height: 100dvh;
        background: #1d1c2b;
        position: absolute;
        top: 0;
        left: -200vw;
        z-index: 1000;
        transition-duration: .5s;
        padding: 0;
    }
    .nav__ul--show{
        width: 100vw !important;        
        left: 0;
    }
    figure{
        width: auto;
        margin: 20px;
        text-align: end;
    }
    .section--bloqued{
        position: fixed;
    }
}